<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<h1> Keep Learning</h1>

<ul>

    <li style="margin-left: 40px;"><a class="active" href="http://127.0.0.1:5000/">Home</a></li>
    <li style="margin-left: 680px;"><a href="http://127.0.0.1:5000/quest">Question</a></li>
    <li style="margin-left: 740px;"><a href="http://127.0.0.1:5000/answer">Answer</a></li>
</ul>

<p style="font-size: 45px; color: yellow; font-family: 'Roboto Slab', serif;">
    Keep Learning is an application that aims to help students learn their material.
</p>


</html>